In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [5]:
LogisticRegression()

LogisticRegression()

In [6]:
df = pd.read_csv('../../Datasets/datasets_738_1370_glass.csv')
df.head(5)

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [7]:
df.Type.value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Type, dtype: int64

In [8]:
X = df.to_numpy()

In [9]:
y = X[:, -1]
X = X[:, :-1]

In [10]:
X = (X - X.mean(axis=0)) / (X.std(axis=0))

In [22]:
clf = LogisticRegression(multi_class='ovr', class_weight='balance')

In [23]:
clf.fit(X, y)

LogisticRegression(multi_class='ovr')

In [24]:
clf.score(X, y)

0.6869158878504673

In [22]:
clf.predict(X)

array([1., 1., 2., 1., 1., 2., 1., 1., 1., 1., 2., 1., 2., 1., 1., 1., 1.,
       1., 1., 2., 2., 1., 1., 1., 1., 1., 2., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 2., 1., 1., 1., 1., 1., 1., 1., 2., 2., 1., 1., 1., 1., 1.,
       2., 1., 2., 2., 2., 3., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 2., 2., 2., 2., 2., 2., 2., 2., 1., 2., 2., 1., 1., 2., 2.,
       2., 1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 1., 1., 2., 2., 2., 2.,
       1., 1., 2., 5., 2., 2., 6., 6., 2., 2., 2., 1., 1., 1., 2., 2., 2.,
       2., 1., 2., 2., 2., 1., 2., 1., 2., 2., 2., 2., 2., 1., 2., 1., 2.,
       1., 2., 1., 2., 2., 1., 2., 2., 2., 2., 1., 1., 2., 2., 2., 1., 1.,
       1., 2., 1., 1., 1., 2., 2., 2., 1., 2., 7., 2., 2., 2., 5., 5., 5.,
       2., 5., 5., 5., 2., 2., 2., 2., 6., 2., 6., 6., 6., 6., 6., 7., 7.,
       1., 2., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 5., 7., 7.,
       7., 7., 7., 7., 7., 7., 7., 7., 7., 7.])

In [17]:
clf.predict_proba(X)

array([[5.05069413e-01, 2.90238189e-01, 1.87275504e-01, 1.81912609e-03,
        1.26299544e-02, 2.96781368e-03],
       [4.34583451e-01, 3.50122547e-01, 1.37651680e-01, 8.59538468e-03,
        3.70662113e-02, 3.19807262e-02],
       [3.79269662e-01, 4.32061265e-01, 1.11905862e-01, 1.32229189e-02,
        2.62201665e-02, 3.73201245e-02],
       ...,
       [7.77434934e-04, 3.67724451e-02, 3.38926479e-03, 2.85134823e-02,
        1.62507162e-02, 9.14296657e-01],
       [1.00886484e-03, 3.58982111e-02, 3.39802350e-03, 2.66120000e-02,
        2.17886230e-02, 9.11294278e-01],
       [7.46067685e-04, 4.31591858e-02, 3.24458948e-03, 3.45555875e-02,
        1.28184216e-02, 9.05476148e-01]])